@import url("fonts.css");

/*
	General styles
========================*/
html, body {
	margin: 0;
	padding: 0;
	background: #000;
	height: 100%;
	color: #FFF;
	font-family: alternate_gothic;
	font-size: 1.1em;
	letter-spacing: 0.8px;
	overflow: hidden;
}

h1, h2, h3 {
	font-family: bebas_neue;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 15px;
}

h2 {
	font-size: 2.2em;
	margin-bottom: 10px;
}

h3 {
	font-size: 2em;
	margin-bottom: 10px;
}

p {
	font-size: 1.25em;
	text-indent: 30px;
}

ul {
	list-style-position: inside;
}

ul li {
	margin-left: 50px;
	list-style-type: disc;
}

.vertical-align-parent {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.large {
	font-size: 2em;
}

.half-col {
	width: 50%;
	float: left;
	position: relative;
	min-height: 1px;
	transform: translateY(-50%);
}

.half-col div,
.half-col p,
.half-col ul,
.half-col h1,
.half-col h2,
.half-col h3 {
	margin-left: 20px;
	margin-right: 20px;
}


/*
	Slide styles
========================*/
.container {
	height: 100vh;
	width: 100vw;
	position: absolute;
	overflow: hidden;
}

.slide {
	position: absolute;
	top: 100vh;
	height: 100%;
	width: 100%;
	margin: 0;
	-webkit-transition: top ease-in-out .5s;
	-moz-transition: top ease-in-out .5s;
	transition: top ease-in-out .5s;
}

.slide:hover{
	cursor: pointer;
}

.slide.slide-show, .slide.slide-first {
	top: 0;
}

.slide.slide-last:hover {
	cursor: default;
}

.slide .background {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	opacity: 0.5;
}

.slide .background img {
	max-width: 100%;
	max-height: 100%;
}

.slide .content-frame {
	width: 100%;
	height: 100%;
	margin: auto;
}

.slide .content-frame .content {
	max-width: 70%;
	margin: auto;
}

.slide .content-frame .content img {
	max-width: 100%;
}

.slide .img-full {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}


/*
	Slideshow styles
========================*/
.img-slideshow {
	position: relative;
}

.img-slideshow a {
	float: left;
	position: absolute;
	transform: translateY(-50%);
}

.img-slideshow a img {
	border: none;
}

.img-slideshow a.show {
	z-index: 500;
}

.img-slideshow .caption {
	z-index: 600; 
	background-color: #000; 
	color: #ffffff; 
	height: 100px; 
	width: 100%; 
	position: absolute;
	bottom: 0;
}

.img-slideshow .caption .content {
	margin: 5px;
}

.img-slideshow .caption .content h3 {
	margin: 0;
	padding: 0;
	color: #1DCCEF;
}

/*
	Video styles
========================*/
.mainvideo {
	display: none;
	width: 100%;
	height: 100%;
	margin: auto;
}

.mainvideo-first {
	display: block;
}