@import url("fonts.css");

/*
	General styles
========================*/
html, body {
	margin: 0;
	padding: 0;
	background: #000;
	height: 100%;
	color: #FFF;
	font-family: alternate_gothic;
	font-size: 1.1em;
	letter-spacing: 0.8px;
	overflow: hidden;
}

h1, h2, h3 {
	font-family: bebas_neue;
}

h1 {
	font-size: 4em;
	margin-bottom: 15px;
}

h2 {
	font-size: 2.2em;
	margin-bottom: 10px;
}

h3 {
	font-size: 2em;
	margin-bottom: 10px;
}

p {
	font-size: 1.25em;
	text-indent: 30px;
}

p.no-indent {
	text-indent: 0;
}

ul {
	list-style-position: inside;
}

ul li {
	margin-left: 50px;
	list-style-type: disc;
}

.tiny-col {
	width: 10%;
	float: left;
	position: relative;
	min-height: 1px;
	top: -25vh;
}

.small-col {
	width: 25%;
	float: left;
	position: relative;
	min-height: 1px;
	top: -25vh;
}

.half-col {
	width: 50%;
	float: left;
	position: relative;
	min-height: 1px;
	top: -25vh;
}

.large-col {
	width: 75%;
	float: left;
	position: relative;
	min-height: 1px;
	top: -25vh;
}

.tiny-col div, .small-col div, .half-col div, .large-col div,
.tiny-col p,   .small-col p,   .half-col p,   .large-col p,
.tiny-col ul,  .small-col ul,  .half-col ul,  .large-col ul,
.tiny-col h1,  .small-col h1,  .half-col h1,  .large-col h1,
.tiny-col h2,  .small-col h2,  .half-col h2,  .large-col h2,
.tiny-col h3,  .small-col h3,  .half-col h3,  .large-col h3 {
	margin-left: 20px;
	margin-right: 20px;
}

#footer{
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background: #222;
	position: absolute;
}

#footer #copyright {
	vertical-align: middle;
	padding-left: 15px;
}


/*
	Loading bar styles
========================*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff;
  border: 1px solid #29d;

  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #29d;
}

.pace.pace-inactive {
  display: none;
}


/*
	Slide styles
========================*/
.container {
	height: 100vh;
	width: 100vw;
	position: absolute;
	overflow: hidden;
}

.slide {
	position: absolute;
	top: 100vh;
	right: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	cursor: pointer;
	-webkit-transition: top ease-in-out .5s, right ease-in-out .5s;
	-moz-transition: top ease-in-out .5s, right ease-in-out .5s;
	transition: top ease-in-out .5s, right ease-in-out .5s;
	overflow: hidden;
}

.slide.slide-top {
	top: -100vh;
}

.slide.slide-right {
	right: -100vw;
}

.slide.slide-left {
	right: 100vw;
}

.slide.slide-show, .slide.slide-first {
	top: 0;
	right: 0;
}

.slide.slide-last:hover {
	cursor: default;
}

.slide .background {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	opacity: 0.25;
}

.slide .background img, 
.slide .background video {
	width: 100%;
	height: 100%;
}

.slide .content-frame {
	width: 100%;
	height: 100%;
	margin: auto;
}

.slide .content-frame .content {
	max-width: 80%;
	margin: auto;
}

.slide .content-frame .content img {
	max-width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.slide .img-full {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}


/*
	Slideshow styles
========================*/
.img-slideshow {
	position: relative;
}

.img-slideshow a {
	float: left;
	position: absolute;
	transform: translateY(-50%);
}

.img-slideshow a img {
	border: none;
	width: 100%;
}

.img-slideshow a.show {
	z-index: 500;
}

.img-slideshow .caption {
	z-index: 600; 
	background-color: #000; 
	color: #ffffff; 
	height: 100px; 
	width: 100%; 
	position: absolute;
	bottom: 0;
}

.img-slideshow .caption .content {
	margin: 5px;
}

.img-slideshow .caption .content h3 {
	margin: 0;
	padding: 0;
	color: #1DCCEF;
}

/*
	Video styles
========================*/
.mainvideo {
	display: none;
	width: 100%;
	height: 100%;
	margin: auto;
}

.mainvideo-first {
	display: block;
}


/*
	Overriding styles
========================*/
.vertical-align-parent {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.center {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.text-center {
	text-align: center;
}

.font-med {
	font-size: 3vh;
}

.font-large {
	font-size: 6vh;
}